<section class="flex flex-col justify-center items-center sticky w-screen bottom-0 z-50">
    <nav class="bg-pokeball-black  rounded-full py-4 m-10" style="width: 1000px;">
        <ng-container *ngIf="user !== undefined">
            <ul class="px-10 flex justify-around items-center">
                <li class="px-4">
                    <a class="text-pokeball-white text-4xl" routerLink="/catalogue">Catalogue</a>
                </li>
                <li class="px-4">
                    <a class="text-pokeball-white text-4xl" routerLink="/trainer">Trainer</a>
                </li>
                <li class="px-4">
                    <a class="text-pokeball-white text-4xl" (click)="onLogoutClick()" routerLink="/">Log out</a>
                </li>
            </ul>
        </ng-container>
    </nav>
</section>