<section
    class="sticky bottom-0 z-50 flex w-screen flex-col items-center justify-center"
>
    <nav class="m-10 rounded-full bg-pokeball-black py-4" style="width: 1000px">
        <ng-container *ngIf="user !== undefined">
            <ul class="flex items-center justify-around px-10">
                <li class="px-4">
                    <a
                        class="text-4xl text-pokeball-white"
                        routerLink="/catalogue"
                        >Catalogue</a
                    >
                </li>
                <li class="px-4">
                    <a
                        class="text-4xl text-pokeball-white"
                        routerLink="/trainer"
                        >Trainer</a
                    >
                </li>
                <li class="px-4">
                    <a
                        class="text-4xl text-pokeball-white"
                        (click)="onLogoutClick()"
                        routerLink="/"
                        >Log out</a
                    >
                </li>
            </ul>
        </ng-container>
    </nav>
</section>
