<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="flex justify-center align-middle text-center">
    <fieldset class="flex justify-center align-middle bg-white rounded-full border-black border-40 p-20">
        <input
            type="text"
            ngModel
            #username="ngModel"
            name="username"
            id="username"
            class="text-4xl font-pixeloid-bold text-center max-w-lg"
            placeholder="Your trainer name"
        />
    </fieldset>
    <button type="submit" class="absolute bottom-20 text-4xl font-pixeloid-bold">> Continue</button>
</form>