<form
    #loginForm="ngForm"
    (ngSubmit)="loginSubmit(loginForm)"
    class="flex justify-center text-center align-middle"
>
    <fieldset
        class="flex justify-center rounded-full border-40 border-black bg-white p-20 align-middle"
    >
        <input
            type="text"
            id="username"
            ngModel
            #username="ngModel"
            name="username"
            [ngModel]="usernameControl.value"
            class="max-w-lg text-center font-pixeloid-bold text-4xl"
            placeholder="Your trainer name"
            required
        />
        <div *ngIf="loginForm.submitted && username.errors?.['required']">
            <span class="">Enter name</span>
        </div>
    </fieldset>
    <button
        type="submit"
        class="absolute bottom-20 font-pixeloid-bold text-4xl"
    >
        Continue
    </button>
</form>
